* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.myContainer {
  max-width: 60%;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .myContainer {
    max-width: 100%;
  }
  .first-header-content {
    flex-direction: column;
    height: max-content;
    justify-content: start;
  }
}

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader.complete {
  display: none;
}
.carousel-caption {
  bottom: 25% !important;
}

@media screen and (max-width: 992px) {
  .carousel-caption {
   bottom: 10% !important;
  }
}
.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 0.8rem;
  margin: 1rem auto;
  max-width: 50%;
}
.carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
  background-color: transparent !important;
}
.carousel-indicators .active {
  background-color: white !important;
}
.first-header {
  background-color: #1c3a5d;
  color: rgb(156, 156, 156);
  /* max-height: 4rem; */
  /* min-height: 2.5rem; */
  width: 100%;
  padding: 0.5rem;
  /* margin: auto; */
}

.first-header-content {
  height: 100%;
}

.header-quote {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 490px) {
  .first-header {
    padding: 0.5rem 0;
  }
  .header-quote {
    display: none;
  }
  .date {
    font-size: 0.7rem;
  }
  .myContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .first-header-content {
    flex-direction: column;
    height: max-content;
    justify-content: start;
  }
}
@media screen and (max-width: 992px) {
  .myContainer {
    max-width: 80%;
  }
  .first-header-content {
    flex-direction: column;
    height: max-content;
    justify-content: start;
  }
  .dropdown-menu {
    background-color: white !important;
    border: 0;
  }
  .second-header nav {
    display: block;
  }
}
.second-header nav {
  display: none;
}
.dropdown {
  background-color: white;
}
.dropdown-btn {
  height: 1.6rem;
  outline: none;
  border: 0;
  padding: 0 5px;
}
.dropdown-toggle {
  font-size: 14px;
  outline: none;
  font-weight: 400;
}

.search {
  position: relative;
}
.search img {
  position: absolute;
  right: 2px;
  top: 2px;
}
.search-input {
  background-color: transparent;
  border: 1px solid gray;
  outline: none;
}
.search input {
  font-size: 13px;
  height: 1.6rem;
  padding: 8px;
  font-size: 13px;
  color: white;
}
.search input::placeholder {
  font-style: italic;
  height: 1.6rem;
  padding: 8px;
  font-size: 13px;
}
.date {
  font-size: 0.9rem;
  font-weight: 700;
}

.second-header {
  height: 5.5rem;
}

nav {
  background-color: #0071bb;
  padding: 0 !important;
  height: 3rem;
  width: 100%;
}
nav ul .dropdown {
  background-color: transparent;
}

/* nav ul li {
  height: 100% !important;
} */
.dropdown-menu {
  /* background-color: transparent !important; */
  border: 0;
}
.dropdown-item {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 3px !important;
  margin: 0 5px;
  letter-spacing: 0;
}
nav ul li .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 8px 3px !important;
  margin: 0 5px;
  letter-spacing: 0;
}

.menu-lines{
  width: 25px;
  height: 3px;
  background-color: White;
  margin: 6px 0;
}
.carousel-inner, .carousel-indicators{
  z-index: -1 !important;
}
.nav-wrapper{
  background-color:#0071bb !important;

}
.call-to-action .nav-link {
  color: black;
  font-weight: 600;
}
.call-to-action {
  background-color: #ffca0d;
}

.carousel {
  height: 100% !important;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-description {
  height: max-content;
}
.product-page-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  width: 30%;
}
.horizontal-divider {
  width: 5px;
  height: 100%;
  background-color: #0071bb;
  margin: 0 10px;
}

.products {
  background-color: #f7f8fa;
  padding: 3rem 0;
}

.products-card {
  margin-top: 3rem;
}

.product-summary {
  text-align: left;
  width: 70%;
  font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
  .product-page-title {
    font-size: 1.2rem;
  }
  .product-summary {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 750px) {
  .product-description {
    flex-direction: column;
  }
  .product-page-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
    width: 70%;
  }
  .horizontal-divider {
    display: none;
  }
}

.grid-card {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.2rem;
  row-gap: 2rem;
  /* background-color: red; */
}
@media screen and (max-width: 960px) {
  .grid-card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.card {
  min-width: 50%;
  /* height: 100%; */
  padding: 20px 0 20px 20px;
  border-radius: 2px !important;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 450px) {
  .custom-card {
    flex-direction: column !important;
  }
}
.card img {
  width: 6rem;
  height: 6rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.card-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #38b85d;
  height: 2px;
  width: 15%;
}
.card-description {
  font-size: 0.8rem;
  line-height: normal;
  margin-bottom: 0;
}
.about-us {
  height: 60vh;
}

@media screen and (max-width: 992px) {
  .about-us {
    flex-direction: column;
    height: max-content;
  }
  .profile-info,
  .about-us img {
    width: 100%;
  }
}
.about-us .profile-img {
  min-width: 50%;
  height: 100%;
  position: relative;
}
.profile-info {
  background-color: #00aaa4;
  min-width: 50%;
  height: 100%;
  padding: 2rem;
}

.profile-info .profile-title {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  color: white;
}

.profile-info .profile-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: white;
  height: 2px;
  width: 10%;
}
.profile-description {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.support {
  padding-top: 10%;
}
@media screen and (max-width: 472px) {
  .support img {
    display: none;
  }
}

.support img {
  max-width: 2rem !important;
}
.support .support-title {
  margin-bottom: 0;
  position: relative;
  font-weight: 700;
  font-size: 0.9rem;
  color: white;
}
.support .support-title::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  background-color: white;
  height: 2.5rem;
  width: 2px;
}

.facts {
  background-image: url("/images/counter-bg.jpg");
  max-width: 100vw;
  min-height: 60vh;
}
.section-header-facts {
  position: relative;
  font-size: 1.3rem;
}
.section-header-facts::after {
  content: "";
  position: absolute;
  left: 47%;
  bottom: -10px;
  background-color: #00aaa4;
  height: 3px;
  width: 50px;
}
.section-header {
  position: relative;
  font-size: 1.3rem;
}
.section-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #00aaa4;
  height: 3px;
  width: 50px;
}

.team {
  background-color: #f1f1f1;
}

.team-images {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  place-items: center;
}

@media screen and (min-width: 280px) {
  .team-images {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media screen and (min-width: 576px) {
  .team-images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .team-images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .team-images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.person-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-wrapper {
  position: relative;
  width: 13rem;
  height: 18rem;
}
.name {
  background-color: #0071bb;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 5px 0;
  width: 100%;
  text-align: center;
}
.person-name,
.prof-title {
  margin-bottom: 0;
}
.person-name {
  font-size: 1rem;
  font-weight: 600;
}
.prof-title {
  font-size: 0.8rem;
}

.facts-titles {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.counter {
  font-size: 2rem;
  color: #0071bb;
  font-weight: 600;
}

.form-control {
  border: 2px solid gray;
  margin: 1rem 0;
}

.contact-form {
  margin-top: 5rem;
}

.submit-btn {
  background-color: #ffca0d;
  border: 0;
  outline: none;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.news-card {
  border: 0 !important;
}

.card-news-title {
  font-size: 1rem;
  font-weight: 600;
}

.youtube-grid {
  display: grid;
  max-width: 10rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  place-items: right;
}

.youtube-grid img {
  width: 100%;
}

.footer-lists {
  text-decoration: none;
  color: #ccc;
}
.footer {
  background-color: #27384b;
}
.footer-header {
  color: white;
}

.footer-bottom {
  background-color: #253547;
  color: #ccc;
  height: 4rem;
}
.copyright {
  font-size: 1rem;
}

.name-profession-wrapper .testimoni-name {
  color: black;
  font-weight: 600;
}
.name-profession-wrapper .profession {
  color: gray;
}

.testimoni-description {
  color: gray;
}

.slider-btn.active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #0071bb;
  background-color: transparent;
}
.slider-btn {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: transparent;
  margin-right: 5px;
}


.tabs h3 {
  color: black;
  font-weight: 700;
}
.tabs p {
  color: grey;
}

.nav-tabs .nav-link  {
  outline: none;
  width: 100%;
  border: 1px solid grey !important;
  color: grey !important;
}
.nav-tabs .nav-link.active {
background-color: #00aaa4 !important; 
color: white !important;
}
.tabs ul li {
  position: relative;
  color: black;
}
.tabs ul li::before {
  position: absolute;
  content: url(/images/bullet-ul-arrow.png);
  left: -1.2rem;
  top: 3px;
}
